
.main .mCont .module{width:100%;position:relative;}

.module .selectC{width:100%;}
.module .selectC i.navslip{height:3px;background-color:#4dc2a9;position:absolute;bottom:0;left:0;}
.module .selectC ul{width:100%;display:block;overflow:hidden;background:url(../image/line_bg.png) bottom center repeat-x;}
.module .selectC ul li{display:block;float:left;font-size:20px;font-family:"黑体";color:#686868;margin-right:35px;padding:18px 0;/*border-bottom:3px #e6ebd9 solid;*/cursor:pointer;}
.module .selectC ul li:hover{color:#4dc2a9;}
.module .selectC ul li.cur{color:#4dc2a9;/*border-color:#4dc2a9;*/font-weight:bold;}

.module .selectC a.otherMod{width:130px;height:44px;line-height:44px;display:block;background:none;outline:none;background:#4dc2a9 url(../image/ico_entry.png) 93px center  no-repeat;font-size:18px;color:#f4f8e8;border:none;position:absolute;bottom:17px;right:0;border-radius:3px;text-indent:22px;text-align:left;cursor:pointer;}
.module .selectC a.otherMod:hover{background-color:#5fceb6;}

.module .objList{width:100%;padding:40px 0;}
.module .objList ul{width:100%;display:block;height:auto;overflow:hidden;}
.module .objList ul li{width:23%;float:left;margin:20px 1%;}
.module .objList ul li a{width:100%;height:100%;display:block;position:relative;padding-bottom:10px;}
.module .objList ul li a b{width:276px;height:297px;display:block;background:url(../image/cover.png) top left no-repeat;position:relative;}
.module .objList ul li a em.pen{width:62px;height:10px;display:block;background-image:url(../image/pen.png);position:absolute;top:211px;left:48px;z-index:2;}
.module .objList ul li a b img{width:158px;height:220px;position:absolute;top:0;left:48px;}
.module .objList ul li a b {
    width:100%;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.module .objList ul li a:hover b {
    transform: scale(1.1);
    -ms-transform: scale(1.1);  /* IE 9 */
    -moz-transform: scale(1.1);  /* Firefox */
    -webkit-transform: scale(1.1); /* Safari 和 Chrome */
    -o-transform: scale(1.1);
}
.module .objList ul li a span{color:#686868;font-size:18px;font-family:"黑体";text-align:center;width:100%;position:absolute;bottom:0;left:0;}
.module .objList ul li a:hover span{color:#4dc2a9;}
.module.md01 .objList ul li a b{}
.md01 .selectC{position:absolute;top:-60px;}
.md01 .selectC ul li{}
.module.md02 .objList ul li a b{background-image:url(../image/cover01.png);}
.md02 .selectC{position:relative;}
.md02 .selectC ul li{}
.md02 .selectC ul li.cur{color:#4685e1;/*border-color:#4685e1;*/}
.md02 .objList ul li a:hover span{color:#4685e1;}
.md02 .selectC i.navslip{background-color:#4685e1;}





