<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModMetaEntities" connectionString="metadata=res://*/ModDataBase.csdl|res://*/ModDataBase.ssdl|res://*/ModDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_Meta_Branch;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MODResourceEntities" connectionString="metadata=res://*/ModResource.csdl|res://*/ModResource.ssdl|res://*/ModResource.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_Resource_Branch_sx;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MODkingfilesEntities" connectionString="metadata=res://*/ModFile.csdl|res://*/ModFile.ssdl|res://*/ModFile.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.129;initial catalog=MOD_kingfiles_ZYC_Branch_sx;user id=sa;password=Kingsunsoft2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
      <add key="srcPath" value="D:\web\MOD-FileServer\KingsunFiles"/>
      <add key="desPath" value="D:\web\MOD-FileServer\KingsunFiles"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>